.slider-container {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    /* padding-bottom:0.3rem ; */
    margin-bottom: 1rem;
  }
  .slider-container label {
    font-size: smaller;
    /* font-weight: bold; */
    /* margin-right: 10px;s */
  }
  .slider-label {
    margin-left:10px;
    margin-right: 10px;
    /* min-width: 100px; */
    /* text-align: right; */
  }
  .slider-value{
    margin-left:10px;
    font-size: larger;
    /* margin-right: 10px; */
  }
  
  .slider-input-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
    max-width: fit-content;
  }
  
  .slider-input-container span {
    margin: 0 10px;
  }
  .slider-input-container input {
    margin: 0 10px;
  }
  
  .slider-input-container label {
    font-style: italic;
    font-size: xx-small;
  }
  @media screen and (min-width: 800px) { 
    .slider-input-container input {
      /* width: 100%; */
    }
    .slider-input-container label {
      font-style: italic;
    }
  }