* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
  color: var(--primario);
}
:root {
  --primario: #131112;
  --fondo: white;
  --activo: #4db5ff;
  --informacion: #4059ad;
}

.body {
  background: var(--fondo);
}

.footer {
  margin-top: 1rem;
  bottom: 0;
  width: 100%;
  color: var(--informacion);
  padding: 20px;
  text-align: center;
}

section {
  margin-top: 3rem;
  background: var(--fondo);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex-wrap: wrap;
}
.versiculo {
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  color: var(--primario);
  text-align: center;
}
.versiculo-cita {
  font-size: 1.1rem;
  font-weight: bold;
  font-style: italic;
  color: var(--primario);
  text-align: center;
}
p {
  color: var(--primario);
  font-size: 1.065rem;
  margin-top: 0.2rem;
}
a {
  color: var(--primario);
  font-weight: bolder;
  text-decoration: none;
}
.stack {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.portada {
  max-height: 100px;
}
.instrucciones {
  display: flex;
  flex-direction: column;
  margin:10px;
  justify-content: space-between;
  background: var(--fondo);
  padding: 0.5rem;
  width: 100%;
  border-radius: 2rem;
  border: 1px solid var(--primario);
}
/* .preguntas {
  background:var(--fondo);
  margin-top: 3rem;
  gap:0.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;

} */
.preguntas {
  /* margin-top: 2rem; */
  display: flex;
  flex-direction: column;

  justify-content: left;
}

.respuesta {
  flex-grow: 4;
  min-width: 200px;
  color: var(--activo);
}

.pregunta h3 {
  font-size: 0.7rem;
  margin: 0.5rem;
  color: var(--primario);
}
.input-range {
  padding: 0.5rem;
  max-width: 100px;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.result-graphic {
  max-height: fit-content;
  /* border:#0a3f64 1px solid; */
}
.results .dones {
  margin-top: -3rem;
}
.justify-right {
  text-align: right;
}

.dones {
  /* margin-top: 3rem; */
  width: 90%;
}
.instruccion {
  font-size: 0.8rem;
  color: var(--informacion);
  /* margin: 0.5rem; */
  font-style: bold;
}
.don {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: var(--fondo);
  border-radius: 10px;
  /* border: var(--informacion) 1px solid; */
  padding: 5px;
}

.don h3 {
  margin-bottom: 0;
}
.don-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 1rem;
}
.don-definition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: baseline;
  /* gap: 0.5rem; */
  /* font-size: 0.2rem; */
}
.don img {
  width: 50px;
  height: 50px;
  padding: 5px;
  /* border-radius: 50%; */
  background-color: var(--fondo);
}

.don .don-definition p {
  margin-top: 0;
  font-size: small;
}

.don h4 {
  margin-top: 0;
  font-style: italic;
  color: var(--informacion);
  font-size: small;
}

.boton {
  padding: 0.5rem;
  max-width: fit-content;
  background-color: var(--activo);
  color: var(--fondo);
  justify-self: center;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boton:hover {
  background-color: var(--fondo);
  color: var(--activo);
  border: 1px solid var(--activo);
}
.boton-parte {
  margin: 2px;
  color:var(--fondo);
}
.boton-parte:hover {
  color: var(--activo);
}
.boton-info{
  padding: 0.5rem;
  max-width: fit-content;
  background-color: var(--informacion);
  color: var(--fondo);
  justify-self: center;
  border-radius: 1rem;
  text-align: center;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.boton-info:hover {
  background-color: var(--fondo);
  color: var(--informacion);
  border: 1px solid var(--informacion);
}
.resultados {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.profile-picture {
  border-radius: 50%; /* Make the image circular */
  object-fit: contain; /* Make the image contained */
  height: 100%; /* Set the height of the image to 100% of its parent */
  width: 100%; /* Set the width of the image to 100% of its parent */
  max-height: 2rem;
}
.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* width: 100%; */
}
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pagination button {
  background-color: white;
  color: --var(primario);
  border: 2px solid var(--primario);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 5px;
}

.pagination button.active {
  background-color: var(--activo);
  color: white;
}

.pagination span {
  margin: 5px;
}
.pagination button.next {
  border: none;
  background-color: transparent;
  width: auto;
  height: auto;
  max-width: fit-content;
}

.pagination button.next:before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 10px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid var(--activo);
}

.buscar-don {
  background-color: var(--informacion);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: larger;
}

.buscar-don i {
  margin-right: 5px;
color: white;
}

@media screen and (min-width: 800px) {
  .preguntas{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: right;
    gap: 0.5rem;
    width: 60%;
  }
  .pregunta {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    max-width: 250px;
  }
  .dones {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    width: 100%;
  }
  .pregunta h3 {
    font-size: 1rem;
    margin: 0.5rem;
    color: var(--primario);
  }
  .input-range {
    max-width: 100px;
  }
}
.icon {
  width: 5rem;
  height: 5rem;
  /* margin-right: 0.5rem; */
}
